.textAndPhoto {
    padding: 1em;
    background-color: orange;
    height: 35em;
    margin: 0 0 2em 0;
}

.photoFounders {
    padding: 0;
    height: 21em;
    width: 21em;
}

.sectionImage{
    margin: 0 0 1em 0;
}