.heroHeadline {
  margin: 0;
  padding: 0;
}
.heroDescription {
  background-color: #f1911b;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  display: flex; 
  flex-direction: column; 
  align-items: sp ;
  
}
.consultationParagraph {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.numberSpan {
  color: #fff2e4;
}

.ConsultationButton {
  padding: 0.5em 9em;
  font-family: Aleo;
  font-size: 0.8em;
}

.ButtonBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 0 0;

}

@media (min-width: 1024px) {
  .heroDescription {
    height: 150px;
    width: 300px;
    padding: 20px;
  }
  .consultationParagraph {
    display: flex;
    flex-direction: column;
    margin-top: 10px; 
  }
}
